@model FManagement.Entities.QuangND.Entities.ProductionPlanQuangNd

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductionPlanQuangNd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StoreOrderItemId" class="control-label"></label>
                <select asp-for="StoreOrderItemId" class ="form-control" asp-items="ViewBag.StoreOrderItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KitchenId" class="control-label"></label>
                <select asp-for="KitchenId" class ="form-control" asp-items="ViewBag.KitchenId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlanDate" class="control-label"></label>
                <input asp-for="PlanDate" class="form-control" />
                <span asp-validation-for="PlanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanStatus" class="control-label"></label>
                <input asp-for="PlanStatus" class="form-control" />
                <span asp-validation-for="PlanStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityLevel" class="control-label"></label>
                <input asp-for="PriorityLevel" class="form-control" />
                <span asp-validation-for="PriorityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalExpectedQuantity" class="control-label"></label>
                <input asp-for="TotalExpectedQuantity" class="form-control" />
                <span asp-validation-for="TotalExpectedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualProducedQuantity" class="control-label"></label>
                <input asp-for="ActualProducedQuantity" class="form-control" />
                <span asp-validation-for="ActualProducedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchNotes" class="control-label"></label>
                <input asp-for="BatchNotes" class="form-control" />
                <span asp-validation-for="BatchNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
